@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-main-red {
    @apply text-[#F70035];
  }
  .bg-main-red {
    @apply bg-[#F70035];
  }

  .border-main-red {
    @apply border-[#F70035];
  }

  .text-main-gray {
    @apply text-[#cccccc];
  }
  .smooth-hover {
    @apply transition-all duration-300 ease-in-out;
  }

  .bg-dark-gray {
    @apply bg-[#202121];
  }
}

.ribbon {
  --r: 0.8em;
  clip-path: polygon(0 0, 100% 0, calc(100% - var(--r)) 50%, 100% 100%, 0 100%);
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  background-color: antiquewhite;
}
